import %workspace%/tools/preset.bazelrc

# honor the setting of `skipLibCheck` in the tsconfig.json file
common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

# Use "tsc" as the transpiler when ts_project has no `transpiler` set.
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

# FIXME: we'll have to conform with this strict flag eventually
common --noincompatible_auto_exec_groups