name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test

  e2e:
    runs-on: ubuntu-latest
    # Don't run e2es on PRs from forks as it requires access to secrets
    # when using `pull_request`.
    # See https://securitylab.github.com/research/github-actions-preventing-pwn-requests
    if: ${{ github.event.pull_request.head.repo.full_name == 'bazel-contrib/publish-to-bcr' }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      # Setup gcloud application default credentials. While the credentials are not actually
      # used because Google api services are stubbed, instantiating any of the Google node
      # clients requires the credentials file to exist and be valid.
      - uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"
      - uses: google-github-actions/setup-gcloud@v2
        with:
          version: ">= 363.0.0"
      - run: yarn install --frozen-lockfile
      - run: yarn e2e

  # Join CI jobs into a single status so that only one status needs to be
  # marked as required under branch protection rules.
  all_ci_tests:
    runs-on: ubuntu-latest
    needs:
      - test
      - e2e
    if: ${{ always() }}
    steps:
      - uses: cgrindel/gha_join_jobs@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
